body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--darkBlue);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#esqueceuKK{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

#loginSenha{
    width: 16%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #0B7AA2;
    text-align: center;
}

#loginSenha input{
    padding: 9px 0px;
    width: 100%;
    border-radius: 5px;
    border: solid 0.5px #0099CC;
}

#loginSenha a{
    width: 100%;
    height: 100%;
}

#acessar{
    display: flex;
    justify-content: center;
    width: 16%;
}

#buttonAcess{
    width: 100%;
    padding: 10px;
    background-color: #0B7AA2;
    border-radius: 2px;
    border: solid 0.5px #0099CC;
}

#buttonAcess a{
    text-decoration: none;
    color: white;
}