*{
    margin: 0%;
    padding: 0%;
    font-family: "Open Sans"
}



:root{
    --darkBlue: #151D27;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--darkBlue);
    border-bottom: solid 0.5px rgba(175, 175, 175, 0.086);
}

header li{
    list-style: none;
}

#headerlogo{
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 30px;
    gap: 8%;
}

#flexheader{
    display: flex;
    align-items: center;

}

#globalheader{
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 30px;
}


#flexheader ul , #globalheader ul{
    display: flex;

}

#flexheader a , #globalheader a{
    color: white;
    text-decoration: none; 
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkBlue);
}

#footercopy{
    color: white;
    width: 57%;
    font-size: 14px;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
}

