*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

:root{
    --darkBlue: #171D25;
    --darkBlue2: #1B2C44;
    --darkBlue3: #1C3B7F;
    --darkGrey: #171A21;
}

header{
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    background-color: var(--darkBlue);
}

#headerlogo{
    display: flex;
    height: 100%;
    align-items: center;
    /* margin-right: 14.6%; */
}

#flexheader{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 15px;
    margin: 0% 9% 0% 1.8%; 
}

#globalheader{
    display: flex;
    height: 100%;
    font-size: 11px;
    padding: 0.3%;
    gap: 15px;
    margin-right: 2%;
}


#flexheader a , #globalheader a{
    color: white;
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkGrey);
}

#footerlogos{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

#footercopy{
    color: white;
    width: 47%;
    font-size: 13px;
    padding: 12px 0px;
}
